*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,39,0.7)),url(img/beautiful.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
}
nav img{
    width: 250px;
}
.nav_links{
    flex: 1;
    text-align: right;
}
.nav_links ul li{
list-style: none;
padding: 11px 12px;
display: inline-block;
}
.nav_links ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
}
.nav_links ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: orange;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_links ul li a:hover::after{
    width: 100%;

}
.textbox{
    width: 90%;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
}
.textbox h1{
    font-size: 4rem;
    margin-bottom: 5px;
}
.textbox p{
    margin-bottom: 30px;
    font-size: 16px;
}
.textbox a{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 12px 34px;
    border-radius: 10px;
    font-size: 15px;
    
    
}
 .textbox a:hover{
    background-color: orange;
    color: black;
    border: 1px solid orange;
    cursor: pointer;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .textbox h1{
        font-size: 2rem;
    }
    nav img{
       width: 150px;
    }
    .textbox a{
        padding: 10px 30px;
    }
    .nav_links ul li{
        display: block;
    }
    .nav_links{
        position: absolute;
        background: orange;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;

    }

    nav .fa{
        display: block;
        color: white;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }
    .nav_links ul{
        padding: 30px;
    }
}